<%
extend ::Kramdown::Utils::Html
title = ''
description = ''
h = @converter.root.children.find {|c| c.type == :header}
p = @converter.root.children.find {|c| c.type == :p}

collector = lambda {|c| c.children.collect {|cc| cc.type == :text ? escape_html(cc.value, :text) : collector.call(cc)}.join('')}

title = collector.call(h) if h
description = collector.call(p) if p

%>
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="./styles.css">
  <link rel="stylesheet" href="./twilight_pygments.css">
  <meta name="description" content="<%= description %>">
  <title><%= title %></title>
</head>
<body>
  <article>
  <%= @body %>
  </article>
</body>
</html>
